@model IEnumerable<OvertimeManager.MVC5.Web.DbModels.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateCode1.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateCode1.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyKeyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyKeyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyKeyId })
        </td>
    </tr>
}

</table>
