@model OvertimeManager.MVC5.Web.DbModels.StateCodes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StateCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StateCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
