@model IEnumerable<OvertimeManager.MVC5.Web.DbModels.StateOvertimeRule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateCode1.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateOvertimeRuleType.RuleTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleEqualToGreaterThreshold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyWageToUse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateCode1.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateOvertimeRuleType.RuleTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleEqualToGreaterThreshold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyWageToUse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StateOvertimeRuleKeyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StateOvertimeRuleKeyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StateOvertimeRuleKeyId })
        </td>
    </tr>
}

</table>
